---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { t, type Lang } from "../lib/i18n";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex flex-col sm:flex-row w-full h-full">
    <div class="flex flex-col justify-between gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">{t(lang, "intro.greeting")}</h6>
        <p class="m-0 font-light text-xl" set:html={t(lang, "intro.text")} />
      </div>
      <div class="flex gap-4 flex-wrap">
        <a aria-label="github profile" href={LINKS.github} target="_blank">
          <Button aria-label="github profile">
            <Icon class="h-6" name="ri:github-fill" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a aria-label="linkedin profile" href={LINKS.linkedin} target="_blank">
          <Button aria-label="linkedin profile">
            <Icon class="h-6" name="ri:linkedin-box-fill" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a aria-label="strava profile" href={LINKS.strava} target="_blank">
          <Button aria-label="strava profile">
            <Icon class="h-6" name="ri:run-line" />
            <span class="sr-only">Strava Profile</span>
          </Button>
        </a>
        <a aria-label="email" href={`mailto:${LINKS.email}`}>
          <Button aria-label="email">
            <Icon class="h-6" name="ri:mail-line" />
            <span class="sr-only">Email</span>
          </Button>
        </a>
      </div>
    </div>
    <Image
      alt="foto de Fernando Rodrigues"
      class="levitate w-auto max-h-[200px] sm:max-h-[300px] select-none mx-auto mt-4 sm:mt-0 sm:absolute sm:right-0 sm:bottom-0 md:relative md:right-auto md:bottom-auto pointer-events-none"
      height="300"
      src="/me.webp"
      width="300"
    />
  </div>
</Card>

<style>
  @keyframes levitate {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .levitate {
    animation: levitate 3s ease-in-out infinite;
  }
</style>
