---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
import { t, type Lang } from "../lib/i18n";

interface Props {
  lang: Lang;
}

const { lang } = Astro.props;
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">{t(lang, "now.status")}</p>
</Card>
